@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: "poppins";

        /* font-size: 10px; */
   
        overflow-x: auto;
        scroll-behavior: smooth;

}

@layer components {
    .recharts-cartesian-grid-vertical line {
      stroke: theme('colors.gray.300');
    }
  }

/* Dark mode */
.light{
    --primaryBackground:243, 244, 246;
    --secondaryBackground:255, 255, 255;
    --lightText:93, 95, 99;
    --darkOrange:154, 52, 18;
    --lightGreen:220, 252, 231;
    --darkGreen:54, 163, 74;
    --lightSilver:243, 244, 246;
    --darkSilver:75, 85, 99;
    --lightBlue:219, 234, 254;
    --darkBlue:37, 99, 235;
}

.dark{
    --primaryBackground:17, 24, 39;
    --secondaryBackground:24, 33, 47;
    
}